{% extends 'base.html' %}
{% set active_page = 'gigs' %}
{% block title %}Admin - All Gigs{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-10">
		<div class="card card-outline-secondary my-4">
			<div class="card-header">
				All gigs
			</div>
			<div class="card-body">
			{% if gigs %}
				{% for gig in gigs %}
				<h4>
					<a href="{{ url_for('gig.show', slug=gig.slug) }}">{{ gig.title }}</a>
					<h4>
						<small>{{ gig.description }}</small>
						<form method="POST" action="{{ url_for('admin.delete_gig', gig_id=gig.id) }}">
							<input class="btn btn-danger" type="submit" style="margin-top:10px" name="submit"
								value="Delete gig"
								onclick="return confirm('Are you sure that you want to premanently delete this gig?')">
						</form>
						<hr class="form-border">
				{% endfor %}
			{% else %}
				Nothing to show
			{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}